
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>CollabX</title>
     <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
 
     <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <style>
       i.icon {
     font-size: 2em;
 }
 .btn btn-default{
     background-color: azure;
 }
 .fa{
     color: azure;
 } 
*{
padding: 0px;
margin: 0px;
font-family: 'Fira Code';
}
body{
    width: 100%;
height: 100vh;
background: #95a5a6;
}
.chat-box{
position: absolute;
right: 20px;
bottom: 0px;
background: white;
width: 280px;
border-radius: 5px 5px 0px 0px;
}
.collab-box{
position: absolute;
right: 20px; 
background: white;
width: 280px;
border-radius: 5px 5px 0px 0px;
}
.chat-head{
width: inherit;
height: 45px;
background: #2c3e50;
border-radius: 5px 5px 0px 0px;
}
.chat-head h2{
color: white;
padding: 6px;
display: inline-block;
}
.chat-head img{
cursor: pointer;
float: right;
width: 25px;
margin: 10px;
}
.chat-body{
height: 300px;
width: inherit;
overflow: scroll;
scroll-behavior: auto;
margin-bottom: 45px;
}
.collab-body{
    height:300px;
    width: inherit;
overflow: scroll;
scroll-behavior: smooth;
}
.chat-text{
position: fixed;
bottom: 0px;
height: 40px;
width: inherit;
}
.chat-text textarea{
width: inherit;
height: inherit; 
box-sizing: border-box;
border: 1px solid #bdc3c7;
padding: 10px;
resize: none;
}
.chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
border-color: royalblue;
}
.msg-send{
background: #2ecc71;
}
.msg-receive{
background: #3498db;
}
.msg-send, .msg-receive{
width: 250px;
height: 35px;
padding: 5px 5px 5px 10px;
margin: 10px auto;
border-radius: 3px;
line-height: 30px;
position: relative;
color: white;
}
 
 
.msg-receive:hover, .msg-send:hover{
opacity: .9;
}


Resources
     </style>
 </head>
 <body >
     
  
       <div class="ui fixed inverted menu">
         <div class="ui container">
             <div class="header item"><i class="code icon"></i>Collabify</div>
             <a href="/inside" class="item">Home</a>
             
             <div class="right menu">
                 <a href="#" class="item" id="getter">Signed In As:  <%= currentuser %></a>
         <a href="/logout" class="item">Logout</a>
 
             </div>
         </div>
     </div>
<div  class="container-fluid" style="height: 100%;padding:30px;margin-top:50px ;">
<div class="row" style="height: 90%;">
    <div class="col-lg-10 col-md-10 col-sm-12">
        <div class="panel-heading" style="background-color: #428bca; width: 95%;">
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="New file">
                    <i class="fa fa-file-o" style="color: azure;"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Save">
                    <i class="fa fa-save"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Print">
                    <i class="fa fa-print"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Source code">
                    <i class="fa fa-code"></i> Source
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Bold">
                    <i class="fa fa-bold"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Italic">
                    <i class="fa fa-italic"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Underline">
                    <i class="fa fa-underline"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Strikethrough">
                    <i class="fa fa-strikethrough"></i>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Cut">
                    <i class="fa fa-scissors"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Copy">
                    <i class="fa fa-copy"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Past">
                    <i class="fa fa-paste"></i>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Undo">
                    <i class="fa fa-reply"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Redo">
                    <i class="fa fa-share"></i>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Align left">
                    <i class="fa fa-align-left"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Align center">
                    <i class="fa fa-align-center"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Align right">
                    <i class="fa fa-align-right"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Align justify">
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Numbered list">
                    <i class="fa fa-list-ol"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Bulleted list">
                    <i class="fa fa-list-ul"></i>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Link">
                    <i class="fa fa-link"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Unlink">
                    <i class="fa fa-unlink"></i>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default"  data-toggle="tooltip" title="Picture">
                    <i class="fa fa-picture-o"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="HTML table">
                    <i class="fa fa-table"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Font">
                    <i class="fa fa-font"></i>
                </button>
            </div>
        </div>
       <form action="/documents/<%= found.Doc_name%>?_method=PUT" method="POST" style="display: inline">
        <textarea name="content" id="editor" style="color:black;font-size: 18px;width: 95%;height:90%" placeholder="Type Your Text..."   ><%= found.content %> </textarea>
        <br>

        <button type="submit" style="display: inline;margin-right: 10px" class="btn btn-secondary btn-lg">Save</button>
       </form>
       <form action="/documents/<%= found.Doc_name%>?_method=DELETE" method="POST" style="display: inline" ><button type="submit" class="btn btn-danger btn-lg">Delete</button></form>
       <button type="submit" style="display: inline;margin-right: 20px" class="btn btn-primary btn-lg" id="download" >Download</button>
    </div> 
      
         <div class="wrapper">
            <div class="collab-box">
            <div class="chat-head">
            <h2>Collaborators</h2>  
            </div>
            <div class="collab-body">
            <div class="msg-insert2" id="allusers"> 
            </div> 
            </div>
            </div>
        </div>
         
            <div class="wrapper">
            <div class="chat-box">
            <div class="chat-head">
            <h2>Chat Box</h2>
            <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16">
            </div>
            <div class="chat-body">
            <div class="msg-insert"> 
            </div>
            <div class="chat-text">
            <textarea placeholder="Send" id="chatfield"></textarea>
            </div>
            </div>
            </div>
            </div>
      

       


</div>


<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
 
<script>
 var socket=io();
var x=prompt("enter your name");
    console.log(x);

/* // realtime document code*********************************** */
var getter=document.getElementById('getter');
console.log("***********************************");
console.log(getter.textContent.substring(15));
const editor=document.getElementById('editor');
editor.addEventListener("keyup",function(evt) {
    const text=editor.value;
    socket.emit("document",text);
})
socket.on('document', function(data) {
    editor.value = data;
})

/* $('#chatform').submit(function(e) {
    e.preventDefault();
    socket.emit('chat msg',$('#chatbox').val());
    $('input').val('');
})
socket.on('send msg',function(data) {
    $('#messages').append("<p><strong>"+data.user+"</strong>"+":"+data.msg+"</p><hr>");
}) */

$('#chatfield').keypress(function(event) {
var $this = $(this);

if(event.keyCode == 13){
var msg = $this.val();
socket.emit('chat msg',msg);
$this.val('');
}
});

socket.on('send msg',function(data) { 
    /* //if(data.user===currentuser) console.log("Yes"); */
     $('.msg-insert').append("<div class='msg-send'><strong>"+data.user+"</strong>"+":"+data.msg+"</div>");
})
 
socket.emit('new user',x);
/* // $('#userform').submit(function(e2) {
//     e2.preventDefault();
//     socket.emit('new user',$('#userbox').val());
//     $('#userbox').val(''); */

socket.on('get users',function(data) {
    var html='';
  for(var i=0;i<data.length;i++) {
      /*  $('#allusers').append("<p>"+data[i]+"</p>"); */
       html+=`<div class="msg-receive">`+(i+1)+" "+data[i]+`</div>`;

  }
  console.log(html);
  $('#allusers').html(html);
})



/* // handling download */

function download(file, text) { 
                    //creating an invisible element 
                    var element = document.createElement('a'); 
                    element.setAttribute('href', 'data:text/plain;charset=utf-8, ' + encodeURIComponent(text)); 
                    element.setAttribute('download', file); 
                    //the above code is equivalent to 
                    // <a href="path of file" download="file name"> 
                    document.body.appendChild(element);
                    //onClick property 
                    element.click(); 
                    document.body.removeChild(element); 
                } 

                document.getElementById("download").addEventListener("click", function() { 
                    var text = document.getElementById("editor").textContent; 
                    var filename = prompt("Enter file Name");
                    download(filename, text); 

                }, false); 
 
$(function(){
var arrow = $('.chat-head img');
var textarea = $('.chat-text textarea');

arrow.on('click', function(){
var src = arrow.attr('src');

$('.chat-body').slideToggle('fast');
if(src == 'https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png'){
arrow.attr('src', 'https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_up-16.png');
}
else{
arrow.attr('src', 'https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png');
}
});



});

</script>




</body>
</html>