<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <!-- Default form login -->
<div class="parent" style="text-align: center;height: 100vh;width:100%;position: absolute">
    <div class="container" style="width: 50%;margin: auto;justify-content: center;position: relative;top: 50%;transform: translate(0%,-55%)">
    <form class="text-center border border-dark p-5" action="/finddoc" method="POST">
    
            <p class="h4 mb-4">Sign Up</p>
        
            <!-- Email -->
            <input type="text" name="short_name" class="form-control mb-4" placeholder="Enter your name..." required>
        
            <!-- Password -->
    
            <input type="text" name="docname" placeholder="enter doc name " class="form-control mb-4" required>
        
            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                </div>
                <div>
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                </div>
            </div>
        
            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit">Sign Up</button>
        
            <!-- Register -->
            <p>Already a member
                <a href="/signin">Sign in</a>
            </p>
        
            <!-- Social login -->
            <p>or sign in with:</p>
        
            <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>
        
        </form>
        <!-- Default form login -->
    
    
    </div>
    </div>
    
</body>
</html>