
<%- include('partials/header') %>
    <!-- </div> -->
    <div class="row" style="height: 60vh;align-items: center">
        
        <div class="col-md-4 col-sm-12" style="">
                <div class="card" style="text-align: center;width: 300px;margin: auto">
                        <img class="card-img-top" src="images/4k-wallpaper-antique-ballpen-2409566.jpg" alt="Card image cap" style="height: 200px;width:100%;">
                        <div class="card-body">
                          <h5 class="card-title">Create New Doc</h5>
                          <p class="card-text">sign up to create a new doc</p>
                          <a href="/createdoc" class="btn btn-primary">New Doc</a>
                        </div>
                      </div>
        </div>
        <div class="col-md-4 col-sm-12">
                <div class="card" style="text-align: center;width:300px;margin: auto">
                        <img class="card-img-top" src="images/analogue-antique-dark-2249432.jpg" alt="Card image cap" style="height: 200px;width:100%;">
                        <div class="card-body">
                          <h5 class="card-title">Find My Docs</h5>
                          <p class="card-text">Find your existing Docs Heree</p>
                          <a href="/finddoc" class="btn btn-primary">Search !</a>
                        </div>
                      </div>
        </div>
        <div class="col-md-4 col-sm-12">
                <div class="card" style="text-align: center;width:300px;margin: auto">
                        <img class="card-img-top" src="images/book-print-text-2203051.jpg" alt="Card image cap" style="height: 200px;width:100%;">
                        <div class="card-body">
                          <h5 class="card-title">Collaborate</h5>
                          <p class="card-text">Sign up to collaborate</p>
                          <a href="/collabdoc" class="btn btn-primary">Collab</a>
                        </div>
                      </div>
        </div>
    </div>
    
    <%- include('partials/footer') %>